/* 桌上型電腦螢幕 螢幕限制 大於等於 992px */

@media screen and (min-width:992px) {
    * {
        list-style-type: none;
        text-decoration: none;
        box-sizing: border-box;
    }
    body {
        background-color: #FCF7E7;
    }
    h1 {
        color: #150902;
    }
    .header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100px;
    }
    .site-name {
        flex: 1 1 auto;
        text-align: center;
    }
    .header-body {
        flex: 3 1 auto;
    }
    .menu-list {
        display: flex;
        justify-content: space-around;
    }
    .item {
        font-family: verdana;
        font-size: 22px;
    }
    .carousel-inner img {
        width: 1300px;
    }
    .container {
        width: 100%;
        height: auto;
    }
    [class*="col-"] {
        float: left;
        padding: 15px;
    }
    .row-entryA {
        display: inline-block;
        width: 1200px;
    }
    .entry-left {
        display: inline-block;
        width: 523px;
    }
    .entry-picA {
        display: inline-block;
    }
    .entry-desA {
        display: inline-block;
        width: 150px;
    }
    .entry-right {
        display: inline-block;
        width: 564px;
        ;
    }
    .entry-picB {
        display: inline-block;
        position: relative;
        width: 530px;
    }
    .entry-desB {
        display: inline-block;
        position: absolute;
        width: 140px;
        right: 200px;
        top: 726px;
    }
    .roWContent {
        display: inline-block;
        width: 1142px;
    }
    .drink-menu {
        display: inline-block;
    }
    .drink-menu-pic img {
        width: 540px;
        height: 300px;
        position: relative;
    }
    .drink-menu-bth {
        position: absolute;
        border: 3px solid white;
        width: 150px;
        height: 50px;
        top: 1140px;
        left: 275px;
    }
    .drink-menu-des {
        font-size: 15px;
        color: aliceblue;
        position: absolute;
        top: 1260px;
        margin-left: 15px;
    }
    .food-menu {
        display: inline-block;
    }
    .food-menu-pic img {
        width: 525px;
        height: 300px;
        position: relative;
    }
    .food-menu-bth {
        position: absolute;
        border: 3px solid white;
        width: 150px;
        height: 50px;
        top: 1145px;
        right: 285px;
    }
    .food-menu-des {
        font-size: 15px;
        color: aliceblue;
        position: absolute;
        top: 1260px;
        margin-left: 25px;
    }
    .row-contnet {
        width: 1150px;
        height: 250px;
        display: inline-block;
    }
    .content-row {
        width: 287px;
        float: left;
    }
    .content-rowA {
        width: 287px;
        float: left;
    }
    .content-rowB {
        width: 287px;
        float: left;
    }
    .content-rowC {
        width: 287px;
        float: left;
    }
    .new-content {
        display: inline-block;
        width: 1120px;
        font-size: 15px;
        clear: both;
    }
    .dou-banner {
        width: 1153px;
        display: inline-block;
    }
    .menu-bannerA {
        display: inline-block;
        width: 518px;
        float: left;
    }
    .col-med-6 bannerA {
        width: 50%;
    }
    .menu-bannerB {
        display: inline-block;
        width: 598px;
        float: left;
    }
    .col-med-12 footer {
        width: 100%;
    }
    .footer-all {
        background-color: black;
        display: inline-block;
        width: 1139px;
        height: 184px;
        clear: both;
    }
    .footer-left {
        display: inline-block;
        width: 400px;
    }
    .footer-nav {
        display: inline-block;
        width: 250px;
    }
    .menu-sub,
    .item {
        color: white;
        font-size: 14px;
    }
    .footer-med {
        display: inline-block;
        width: 250px;
    }
    .footer-right {
        display: inline-block;
        width: 400px;
    }
    .SNS-right {
        display: inline-block;
        width: 200px;
        height: 50px;
        margin: 10px;
    }
    .SNS_item {
        float: left;
        margin: 5px;
        width: 20px;
        height: 20px;
    }
}


/* 桌上型平板與小螢幕 螢幕限制 大於等於 768px 小於等於 991px*/

@media screen and ( min-width:768px)and( max-width:991px) {
    .container {
        width: 100%;
        height: auto;
        border: 1px solid green;
    }
}
